
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#title {
  position: relative;
  top: 10%;
  padding-left: 10%;
  z-index: 1;
}
#title h1 {
  font-size: 60;
  display: inline;
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
}
#title a {
  font-family: 'Source Code Pro', monospace;
  display: inline;
  color: #d1d1d1;
}
#title img {
  vertical-align: middle;
  height: 128px;
  width: 128px;
}

#links {
  position: relative;
  padding-top: 15%;
}
#links h2 {
  font-family: 'Source Code Pro', monospace;
  color: #d1d1d1;
}
#links a {
  font-family: 'Source Code Pro', monospace;
  color: #bcdcff
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;
}
